<header>
    <div class="container" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">

                <img class="img-responsive" src="http://i64.tinypic.com/34j3epy.png" alt="">
                <div class="intro-text">
                    <h1 class="name">Dunce Brother PRO AM Invite</h1>
                    <hr class="star-light">
                    <span class="skills">"Stay True"
                      <p>-Tiny Tony</p>
                     </span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>History</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
            <p>The Dunce Brother has had a long and distinguished history. Set up in memoriam of our dear friend Tiny Tony. Eager challengers vie for a chance to sip out of the "Tiny Tony Memorial Cup".</p>
        </div>
        <div class="col-lg-4">
            <p>
              Traveling has just begun with the Dunce Brother, with Dunce Brother IV taking place across state lines in Wisconsin. Due mainly out of necessity, the Dunce Brother will continuously rotate courses.
            </p>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>The Dunce Brother Pro AM Invite is played in a 2 man scramble format. Champion is calculated based off a Peoria HCP system. </p>
            </div>
            <div class="col-lg-4">
                <p>
                  Money prizes for both Low Gross and Low Net champions. However; all glory goes the the Low Net winners. Award for gruesome twosome has been discontinued.
                </p>
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div> -->
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/VI"><h2>Dunce Brother VI: Welcome Home</h2></a>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <!-- <div class="col-lg-4 col-lg-offset-2">
                    <p>The 5th anniversary of the Dunce Brother will focus heavily on spiritual awakening and a deeper understanding of the self. This will require getting into a boat and voyaging the heavy seas of Lake Michigan with JB at the helm.</p>
                </div> -->
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Dunce the 6th will be played on the hollowed ground of Joe Louis 'The Champ' in the capital of old world golf, Riverdale, IL.</p>
                </div>
                <div class="col-lg-4">
                    <!-- <p>
                      Water, earth, wind, and fire will play a prominent role in Dunce Brother V. The voyage will transcend the game of golf and it is our aim that each participant will be a more grounded human post Dunce.
                    </p> -->
                    <p>
                      Our precious Tiny Tony, would have wanted to welcome all of you back home after the past 2 years of travel. We found no other place fit for a Tournament of Champions. It was either there or a putt putt course in Matt Bee's Basement. 
                    </p>
                </div>
                <div class-"col-lg-4">
                  <p><a href="/VI"><h4>More Info...</h4></a>
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>
