<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Dunce V</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p><font color="green">
                    <p><u><strong>Date:</strong></u> July 15th 2017 (pre-festivities start Friday Evening)</p>
                    <p><u><strong>Where:</strong></u> Michigan City, IN</p>
                    <p><u><strong>Tee Time:</strong></u> TBD</p>
                    <p><u><strong>Course:</strong></u> TBD</p>
                    <p> <strong><u>Player Admission:</u></strong> $159 (includes hotel, prizes, booze, custom golf balls)
                    </font>
                </p>
            </div>
            <div class="col-lg-4" .col-md-offset-0>
                <p>
                  Accomodations are being arranged, we will be reserving a full home on the beach.
                </p>
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <p>
                  <h4>2nd Annual Full Moon Spaghetti Soiree</h4>
                  <p>
                      One large bowl of mom's spaghetti will be prepared, please make sure to bring a food item to share and any other booze you would like to drink. 100 white castle sliders will also be provided. Sportcoat and pants required and strictly enforced. 8PM on the beach on Friday July 7th.
                  </p>
                </p>
            </div>
            <div class="col-lg-12 text-center">
                <p>
                  Contact tinytony@duncebrother.com for any questions.
                </p>
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div> -->
        </div>
    </div>
</section>
